@import "reset";
@import "mixins";

* {
	box-sizing: border-box;
	transition: transform 0.5s;
}

body {
	font-family: "Lato";
	color: #101011;
	background-color: #121213;
	min-width: 1280px;
	width: 100%;
	padding: 20px 0;
}




header {
	 font-size: 20px;
	 width: 100%;
	 height: 50px;
}

.search {
	display: none;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
	&__wrapper {
	width: 100%;
    height: 60%;
    background-color: #000;
	padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
	}
	&__field {   
		display: flex;
		outline: none;
		border: none;
		font-size: 18px;
		color: #fff;
		background-color: transparent;
		resize: none;
		width: 100%;
		text-transform: uppercase;
		
	}
	&__profile {
		height: 40%;
		width: 100%;
		background-color: #1c1c1c;
		position: relative;
	}
}


.profile {
	display: block;
	margin: auto;
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	animation: zoomEffect 20s infinite;
	@keyframes zoomEffect {
		25% {
			transform: rotate(0deg);
		}

		50% {
			transform: rotate(5deg);
		}

		75% {
			transform: rotate(-5deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}
}



.fa-times {
	color: #fff;
	font-size: 38px;
}
.fa-search {
	float:right;
	font-size: 40px;
	color: #565657;
	margin: 20px 20px 0 0;
	&:hover {
		color: #fdffff;
		cursor: pointer; 
		transition: 0.8s;
	}
}

.search__field--open {
	width: 20%;
	height: 10%;
	border: none;
	outline: none;
	float: right;
}


main {
	position: relative;
	text-align: center;
	margin-top: 40px;
	.title{
		text-align: center;
		font-size: 24px;
		color: #595959;
	}   
}

.top {
	position: relative;
	display: flex;
    justify-content: center;
	.legend {
		position: absolute;
		color: #999999;
		width: 540px;
		height: 100px;
		top: 7%;
    	left: 20%;
		&__text {
			font-size: 18px;
			border-bottom: 0.5px solid #999999;
			padding-bottom: 3%;
		}
		&__wrapper {
			display: flex;
			justify-content: space-between;
			.legend__colors {
				display: inline-block;
				.legend__color {
				    font-size: 12px;
					margin-top: 10px;
					margin-right: 15px;
					position: relative;
					&:before {
						content: "";
						width: 10px;
						height: 10px;
						position: absolute;
						bottom: 2px;
						left: -15px;
						margin-right: 10px;
					}
				}
				&:last-child .legend__color {
					margin-right: 0;
				}
				
				.one:before {
					background-color: #08637e;
				} 
				.two:before {
					background-color: #30a1be;
				}
				.three:before {
					background-color: #e3e2d5;
				}
				.four:before {
					background-color: #bac4ba;
				}
				.five:before {
					background-color: #759487;
				}
				.six:before {
					background-color: #d6b8a6;
				}
				.seven:before {
					background-color: #cd7f62;

				}
				.eight:before {
					background-color: #a54122; 
				}
				.nine:before {
					background-color: #d3fff8;
				}
				.ten:before {
					background-color: #9cc6c9;
				}
		
			}
		}
		
	}
}


.table__lists {
	.table__list {
		display: inline-block;
	}
}




.col1{
	&__lists{
		.col1__list{
			margin-bottom: 2px;
			.box{
				@include box;
				background-color: #0e83a7;
				@include insideText;
			}
			&:nth-child(2) .box{
			background-color: #c74e29;
				&:hover{
					@include onHoverImg;
					background: url("../images/dm__red.jpg") no-repeat;
				}
			}
			&:last-child{
				margin-bottom: 0px;
			}
			&:hover .box{
				@include onHoverImg;
				background: url("../images/dm__blue.jpg") no-repeat;
				}
		}	
	}
}


.col2{
	&__lists{
		.col2__list{
			margin-bottom: 2px;
			.box{
				@include box;
				background-color: #47b4d0;
				@include insideText;
			}
			// &:last-child{
			// 	margin-bottom: 0px;
			// }
			&:hover .box{
				@include onHoverImg;
				background: url("../images/dm__lblue.jpg") no-repeat;
				}
		}
	}
}


.col3__list {
	margin-bottom: 2px;
	.box {
		@include box;
		background-color: #f3f3ed;
		@include insideText;
		
	}
	.black {
		padding: 4px 7px;
		background-color: #111111;
		color: #ffffff;
		.symbol{
			margin-top: 0;
		}
	}
	&:nth-child(4) {
		margin-bottom: 0px;
		&:hover .box{
			@include onHoverImg;
			background: url("../images/arrow-down.png") center no-repeat;
		}
	}
	&:last-child {
		margin-bottom: 0px;
		&:hover .box{
			@include onHoverImg;
			background: url("../images/arrow-down.png") center no-repeat;
		}
	}
}

	
.col4__list {
		margin-bottom: 2px;
		.box {
			@include box;
			background-color: #f3f3ed;
			@include insideText;
			
		}
		.black {
			padding: 4px 7px;
			background-color: #111111;
			color: #ffffff;
			.symbol{
				margin-top: 0;
			}
		}
	&:last-child {
		margin-bottom: 0px;
		&:hover .box {
			@include onHoverImg;
			background: url("../images/dm__white.jpg") no-repeat;
			
		}
	}
}



.col5{
	&__lists{
		.col5__list{
			margin-bottom: 2px;
			
			.box{
				@include box;
				background-color: #e3cec2;
				@include insideText;
				transition: transform 0.3s ease-out;
				.box__img{
					display: none;
				}
			}
			&:nth-child(2) .box{
				background-color: #d79881;
				&:hover {
					@include onHoverImg;
					background: url("../images/dm__pink.jpg") no-repeat;
					}
				}
			&:last-child{
				margin-bottom: 0px;
			}	
			&:hover .box{
				.box__img{
					// display: 
					width: 100%;
					background-size: cover;
					transform: rotate(720deg);
					transition: transform 1s ease-in;
					background: url("../images/dm__peach.jpg") no-repeat;
				}
				// @include onHoverImg;
				// 	background: url("../images/dm__peach.jpg") no-repeat;
			}
		}
	}
}


.col6{
	&__lists{
		.col6__list{
			margin-bottom: 2px;
			.box{
				@include box;
				background-color: #e3cec2;
				@include insideText;
				transition: transform 0.3s ease-out;
				
			}
			&:nth-child(2) .box{
				background-color: #c74e29;
				&:hover {
						@include onHoverImg;
							background: url("../images/dm__red.jpg") no-repeat;
					}
				}
			&:nth-child(3) .box{
				background-color: #d79881;
				&:hover {
					@include onHoverImg;
						background: url("../images/dm__pink.jpg") no-repeat;
				}
			}
			&:nth-child(4) .box{
				background-color: #d79881;
				&:hover {
					@include onHoverImg;
						background: url("../images/dm__pink.jpg") no-repeat;
				}
			}
			&:last-child{
				margin-bottom: 0px;
			}
			&:hover .box{
				@include onHoverImg;
					background: url("../images/dm__peach.jpg") no-repeat;
			}
		}
	}
}


.col7{
	&__lists{
		.col7__list{
			margin-bottom: 2px;
			.box{
				@include box;
				@include insideText;
			}
			&:nth-child(1n + 2) .box{
				background-color: #c74e29;
				&:hover {
					@include onHoverImg;
						background: url("../images/dm__red.jpg") no-repeat;
					}
				}
			&:nth-child(1n + 4) .box{
				background-color: #d79881;
				&:hover {
					@include onHoverImg;
						background: url("../images/dm__pink.jpg") no-repeat;
				}
			}
			&:nth-child(1n + 6) .box{
				background-color: #e3cec2;
				&:hover {
				@include onHoverImg;
					background: url("../images/dm__peach.jpg") no-repeat;
				}
			}
			&:last-child{
				margin-bottom: 0px;
			}
		}
	}
}

.col8{
	&__lists{
		.col8__list{
			margin-bottom: 2px;
			.box{
				@include box;
				@include insideText;
			}
			&:nth-child(1n + 1) .box{
				background-color: #c74e29;
				&:hover {
					@include onHoverImg;
						background: url("../images/dm__red.jpg") no-repeat;
					}
				}
			&:nth-child(1n + 5) .box{
				background-color: #d79881;
				&:hover {
					@include onHoverImg;
						background: url("../images/dm__pink.jpg") no-repeat;
					}
			}
			&:nth-child(1n + 7) .box{
				background-color: #e3cec2;
				&:hover{
					@include onHoverImg;
						background: url("../images/dm__peach.jpg") no-repeat;
					}
			}
			&:last-child{
				margin-bottom: 0px;
			}

		}
	}
}

.col9{
	&__lists{
		.col9__list{
			margin-bottom: 2px;
			.box{
				@include box;
				background-color: #fdffff;
				@include insideText;
			
			}
			&:last-child{
				margin-bottom: 0px;
			}
			&:hover .box{
			@include onHoverImg;
				background: url("../images/dm__whitebg.jpg") no-repeat;
			}
		}
	}
}

.col10{
	&__lists{
		.col10__list{
			margin-bottom: 2px;
			.box{
				@include box;
				background-color: #b6d6d7;
				@include insideText;
			}
			&:last-child{
				margin-bottom: 0px;
			}
			&:hover .box{
			@include onHoverImg;
				background: url("../images/dm__light.jpg") no-repeat;
			}
		}
	}
}


.bottom{
	margin-top: 30px;
	&__lists{
		margin: 0 5%;
		.bottom__list{
			display: flex;
			flex-direction: row;
			.bottom__text{
				color: #646465;
				font-size: 16px;
				margin: auto 0;
				margin-right: 14px;
				width: 90px;
			}
			
		}
	}
}

.row1{
	.row1__lists{
		.row1__list{
			margin-bottom: 2px;
			display: inline-block;
			.box{
				@include box;
				background-color: #dce0d2;
				@include insideText;
			}
			&:last-child{
				margin-bottom: 0px;
			}
			// &:hover .box{
			// 	@include onHoverImg;
			// 	background: url("../images/dm__bottom1.jpg") no-repeat;
			// }
		}
	}
}
.row2{
	.row2__lists{
		.row2__list{
			.box{
				@include box;
				background-color: #8ca69b;
				@include insideText;
			}
			// &:hover .box{
			// 	@include onHoverImg;
			// 	background: url("../images/dm__bottom2.jpg") no-repeat;
			// }
		}
	}
}


.pointer__wrapper{
	padding-bottom: 15px;
	.pointer{
	color: white;
	background-color: #4d4d4d;
	border-bottom: 5px solid #4d4d4d;
	position: relative;
	width: 14px;
	height: 13px;
	font-size: 10px;
	padding: 2px 0;
	margin: 0 auto;
	}
	:after{
	content: "";
    position: absolute;
    bottom: -11px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 6px solid #4d4d4d;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
	}
	&:hover{
		position: relative;
		top: -5px;
	}
}

footer{
	padding: 10px 10px 0;
	display: flex;
	justify-content: space-between;
	.footer__left{
		display: inline-flex;
		.circle{
			width: 40px;
			height: 40px;
			border-radius: 80%;
			border: 2px solid gray;
			margin-right: 5px;
			text-align: center;
			&:last-child{
				margin-right: 0;
			}
		}
		.lang{
			
			.lang__link{
				color: #999999;
				font-size: 20px;
				text-decoration: none;
				line-height: 1.7;
		}
	}
		.vol{
			.vol__link{
				text-decoration: none;
				color: #999999;
				font-size: 20px;
				line-height: 1.7;
			}
			
		}
		
	}
	.footer__right{
		@extend .footer__left;

		.app{
			background: url(../images/appstore.png) no-repeat;
    		background-size: contain;
			.app__link{
				color: #dcdcdc;
				font-size: 30px;
				line-height: 1.2;
			}
			&:hover{
				transform: rotate(360deg);
				transition: transform 0.3s ease-in;
			}
		}
		.menu{
			.menu__link{
				color: #dcdcdc;
				font-size: 24px;
				line-height: 1.5;
			
			}
			&:hover{
				transform: rotate(180deg);
				transition: transform 0.3s ease-in;
			}
		}

	}
}